@page "/users"
@inject IStringLocalizer<Resource> localizer

<h3>@localizer["users"]</h3>

<Pagination CurrentPage="@paginationDTO.Page" SelectedPage="SelectedPage" TotalAmountOfPages="totalAmountOfPages" />

<GenericList List="users">
    <WholeListTemplate>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>@localizer["user"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in users)
                {
                    <tr>
                        <td>
                            <a href="/users/edit/@user.UserId" class="btn btn-success">@localizer["edit"]</a>
                        </td>
                        <td>
                            @user.Email
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </WholeListTemplate>
</GenericList>