@page "/person"
@inject IStringLocalizer<Resource> localizer

<h3>@localizer["indexPersonHeader"]</h3>

<div class="form-group">
    <a class="btn btn-info" href="person/create">@localizer["newPerson"]</a>
</div>

<Pagination CurrentPage="@pagination.Page" TotalAmountOfPages="totalAmountOfPages" SelectedPage="SelectedPage" />

<GenericList List="personList">
    <WholeListTemplate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>@localizer["name"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in personList)
                {
                    <tr>
                        <td>
                            <a class="btn btn-success" href="/person/edit/@item.Id">@localizer["edit"]</a>
                            <button class="btn btn-danger" @onclick="(() => DeletePerson(item.Id))">@localizer["delete"]</button>
                        </td>
                        <td>@item.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </WholeListTemplate>
</GenericList>