@page "/genres"
@inject IStringLocalizer<Resource> localizer 

<h3>@localizer["indexGenreHeader"]</h3>

<div class="form-group">
    <a class="btn btn-info" href="genre/create">@localizer["newGenre"]</a>
</div>

<GenericList List="genresList">
    <WholeListTemplate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>@localizer["name"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in genresList)
                {
                    <tr>
                        <td>
                            <a class="btn btn-success" href="/genre/edit/@item.Id">@localizer["edit"]</a>
                            <button class="btn btn-danger" @onclick="@(() => DeleteGenre(item.Id))">@localizer["delete"]</button>
                        </td>
                        <td>@item.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </WholeListTemplate>
</GenericList>