@page "/movie/{MovieId:int}"
@page "/movie/{MovieId:int}/{MovieName}"
@inject IStringLocalizer<Resource> localizer

@if (model == null)
{
    <p>@localizer["loading"]</p>
}
else
{
    <h2>@model.MovieItem.Title (@model.MovieItem.ReleaseDate.Value.ToString("yyyy"))</h2>

    for (int i = 0; i < model.Genres.Count; i++)
    {
        if (i < model.Genres.Count - 1)
        {
            <a href="movies/search?genreId=@model.Genres[i].Id">@model.Genres[i].Name</a><text>,</text>
        }
        else
        {
            <a href="movies/search?genreId=@model.Genres[i].Id">@model.Genres[i].Name</a>
        }
    }

    <text> | </text><span>@model.MovieItem.ReleaseDate.Value.ToString("dd MMM yyyy")</span>
    <text> | @localizer["average"]: </text> @model.AverageVote.ToString("0.#") <text>/5 | @localizer["yourVote"]: </text>
    <Rating MaximumRating="5" SelectedRating="model.UserVote" OnVote="OnVote" />

    <div style="display: flex">
        <span style="display: inline-block; margin-right: 5px;"><img src="@model.MovieItem.Poster" style="width: 225px; height: 315px" /></span>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/@model.MovieItem.Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div style="margin-top: 10px;">
        <h3>@localizer["summary"]</h3>
        <div>
            <RenderMarkdown MarkdownContent="@model.MovieItem.Summary" />
        </div>
    </div>
    <div style="margin-top: 10px;">
        <h3>@localizer["actors"]</h3>
        <div style="display: flex; flex-direction: column">
            @foreach (var actor in model.Actors)
            {
                <div style="margin-bottom: 2px;">
                    <img style="width: 50px;" src="@actor.Picture" />
                    <span style="display: inline-block; width: 200px;"><a href="/person/@actor.Id/@actor.Name.Replace(" ", "-")">@actor.Name</a></span>
                    <span style="display: inline-block; width: 45px;">...</span>
                    <span>@actor.Character</span>
                </div>
            }
        </div>
    </div>
}