@inject IStringLocalizer<Resource> localizer

<div class="individual-movie-container">
    <a href="@movieURL">
        <img src="@Movie.Poster" alt="Poster" class="movie-poster" />
    </a>
    <p><a href="@movieURL">@Movie.TitleBrief</a></p>
    <div>
        <AuthorizeView>
            <Authorized>
                <a class="btn btn-info" href="/movies/edit/@Movie.Id">@localizer["edit"]</a>
                <button type="button" class="btn btn-danger" @onclick="@(() => DeleteMovie.InvokeAsync(Movie))">@localizer["delete"]</button>
            </Authorized>
        </AuthorizeView>     
    </div>
</div>