@inject IStringLocalizer<Resource> localizer

<EditForm Model="MovieItem" OnValidSubmit="OnDataAnnotationsValidated">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>@localizer["tblMovieTitle"]:</label>
        <div>
            <InputText class="form-control" @bind-Value="@MovieItem.Title" />
            <ValidationMessage For="@(() => MovieItem.Title)" />
        </div>
    </div>
    <div class="form-group">
        <label>@localizer["inTheaters"]</label>
        <div>
            <InputCheckbox @bind-Value="@MovieItem.InTheaters" />
            <ValidationMessage For="@(() => MovieItem.InTheaters)" />
        </div>
    </div>
    <div class="form-group">
        <label>@localizer["trailer"]:</label>
        <div>
            <InputText class="form-control" @bind-Value="@MovieItem.Trailer" />
            <ValidationMessage For="@(() => MovieItem.Trailer)" />
        </div>
    </div>
    <div class="form-group">
        <label>@localizer["releaseDate"]:</label>
        <div>
            <InputDate class="form-control" @bind-Value="@MovieItem.ReleaseDate" />
            <ValidationMessage For="@(() => MovieItem.ReleaseDate)" />
        </div>
    </div>
    <div class="form-group">
        <InputImg Label="Picture" OnSelectedImage="PosterSelected" ImageURL="@ImageURL" />
    </div>

    <div class="form-group form-markdown">
        <InputMarkdown @bind-Value="MovieItem.Summary" Label="Summary" For="@(() => MovieItem.Summary)" />
    </div>

    <div class="form-group">
        <label>@localizer["genres"]:</label>
        <div>
            <MultipleSelector Selected="Selected" NotSelected="NotSelected"></MultipleSelector>
        </div>
    </div>

    <div class="form-group">
        <label>@localizer["actors"]:</label>
        <div>
            <MultipleSelectorTypeahead Context="person" SearchMethod="SearchMethod" SelectedElements="SelectedActors">
                <MyResultTemplate>
                    <img style="width: 50px;" src="@person.Picture" />
                    @person.Name
                </MyResultTemplate>
                <MyListTemplate>
                    @person.Name / <input type="text" placeholder="Character" @bind="person.Character" />
                </MyListTemplate>
            </MultipleSelectorTypeahead>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">@localizer["saveChanges"]</button>
</EditForm>