@inject IStringLocalizer<Resource> localizer

<EditForm Model="PersonItem" OnValidSubmit="OnValidPersonSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="name">@localizer["name"]:</label>
        <div>
            <InputText class="form-control" @bind-Value="@PersonItem.Name" />
            <ValidationMessage For="@(() => PersonItem.Name)" />
        </div>
    </div>

    <div class="form-group">
        <label for="date">@localizer["dateOfBirth"]:</label>
        <div>
            <InputDate class="form-control" @bind-Value="@PersonItem.DateOfBirth" />
            <ValidationMessage For="@(() => PersonItem.DateOfBirth)" />
        </div>
    </div>

    <div class="form-group">
       <InputImg Label="Picture" OnSelectedImage="PictureSelected" ImageURL="@imageURL" />
    </div>

    <div class="form-group form-markdown">
        <InputMarkdown @bind-Value="PersonItem.Biography" Label="Biography" For="@(() => PersonItem.Biography)" />
    </div>

    <button type="submit" class="btn btn-primary">@localizer["submit"]</button>
</EditForm>