<div class="individual-movie-container">
    <a href="@movieURL">
        <img src="@movie.Poster" alt="Poster" class="movie-poster" />
    </a>
    <p><a href="@movieURL">@movie.TitleBrief</a></p>
    <div>
        <AuthorizeView>
            <Authorized>
                <a class="btn btn-info" href="/movies/edit/@movie.Id">Edit</a>
                <button type="button" class="btn btn-danger" @onclick="@(() => DeleteMovie.InvokeAsync(movie))">Delete</button>
            </Authorized>
        </AuthorizeView>     
    </div>
</div>